* {
    background-color: lightcoral;
    max-width: 50vw;
 
}

p {
    background-color: greenyellow;
    color: black;

}

#image-pudding {
    display: flex;
    width: 40vw;
    min-width: 100px;
}

li {
    background-color: blueviolet;
    color:aliceblue;

}